@charset "UTF-8";
/*!
Theme Name: Annemarie Parsons
Theme URI: http://www.amparsons.co.uk
Author: Annemarie Parsons
Description: Custom Front-End Build for amparsons
Version: 1.0
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*------------------------------------*\
    $CSSWIZARDRY-GRIDS
\*------------------------------------*/
/**
 * CONTENTS
 * INTRODUCTION.........How the grid system works.
 * VARIABLES............Your settings.
 * MIXINS...............Library mixins.
 * GRID SETUP...........Build the grid structure.
 * WIDTHS...............Build our responsive widths around our breakpoints.
 * PUSH.................Push classes.
 * PULL.................Pull classes.
 */
/*------------------------------------*\
    $INTRODUCTION
\*------------------------------------*/
/**
 * csswizardry grids provides you with widths to suit a number of breakpoints
 * designed around devices of a size you specify. Out of the box, csswizardry
 * grids caters to the following types of device:
 *
 * palm     --  palm-based devices, like phones and small tablets
 * lap      --  lap-based devices, like iPads or laptops
 * portable --  all of the above
 * desk     --  stationary devices, like desktop computers
 * regular  --  any/all types of device
 *
 * These namespaces are then used in the library to give you the ability to
 * manipulate your layouts based around them, for example:
 *
   <div class="grid__item  one-whole  lap--one-half  desk--one-third">
 *
 * This would give you a grid item which is 100% width unless it is on a lap
 * device, at which point it become 50% wide, or it is on a desktop device, at
 * which point it becomes 33.333% width.
 *
 * csswizardry grids also has push and pull classes which allow you to nudge
 * grid items left and right by a defined amount. These follow the same naming
 * convention as above, but are prepended by either `push--` or `pull--`, for
 * example:
 *
   `class="grid__item  one-half  push--one-half"`
 *
 * This would give you a grid item which is 50% width and pushed over to the
 * right by 50%.
 *
 * All classes in csswizardry grids follow this patten, so you should fairly
 * quickly be able to piece together any combinations you can imagine, for
 * example:
 *
   `class="grid__item  one-whole  lap--one-half  desk--one-third  push--desk--one-third"`
 *
   `class="grid__item  one-quarter  palm--one-half  push--palm--one-half"`
 *
   `class="grid__item  palm--one-third  desk--five-twelfths"`
 */
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/**
 * If you are building a non-responsive site but would still like to use
 * csswizardry-grids, set this to ‘false’:
 */
/**
 * Is this build mobile first? Setting to ‘true’ means that all grids will be
 * 100% width if you do not apply a more specific class to them.
 */
/**
 * Set the spacing between your grid items.
 */
/**
 * Would you like Sass’ silent classes, or regular CSS classes?
 */
/**
 * Would you like push and pull classes enabled?
 */
/**
 * Using `inline-block` means that the grid items need their whitespace removing
 * in order for them to work correctly. Set the following to true if you are
 * going to achieve this by manually removing/commenting out any whitespace in
 * your HTML yourself.
 *
 * Setting this to false invokes a hack which cannot always be guaranteed,
 * please see the following for more detail:
 *
 * github.com/csswizardry/csswizardry-grids/commit/744d4b23c9d2b77d605b5991e54a397df72e0688
 * github.com/csswizardry/inuit.css/issues/170#issuecomment-14859371
 
 */
/**
 * Define your breakpoints. The first value is the prefix that shall be used for
 * your classes (e.g. `.palm--one-half`), the second value is the media query
 * that the breakpoint fires at.
 */
/**
 * Define which namespaced breakpoints you would like to generate for each of
 * widths, push and pull. This is handy if you only need pull on, say, desk, or
 * you only need a new width breakpoint at mobile sizes. It allows you to only
 * compile as much CSS as you need. All are turned on by default, but you can
 * add and remove breakpoints at will.
 *
 * Push and pull shall only be used if `$push` and/or `$pull` and `$responsive`
 * have been set to ‘true’.
 */
/**
 * You do not need to edit anything from this line onward; csswizardry-grids is
 * good to go. Happy griddin’!
 */
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/**
 * These mixins are for the library to use only, you should not need to modify
 * them at all.
 *
 * Enclose a block of code with a media query as named in `$breakpoints`.
 */
/**
 * Drop relative positioning into silent classes which can’t take advantage of
 * the `[class*="push--"]` and `[class*="pull--"]` selectors.
 */
/*------------------------------------*\
    $GRID SETUP
\*------------------------------------*/
/**
 * 1. Allow the grid system to be used on lists.
 * 2. Remove any margins and paddings that might affect the grid system.
 * 3. Apply a negative `margin-left` to negate the columns’ gutters.
 */
.grid {
  list-style: none;
  /* [1] */
  margin: 0;
  /* [2] */
  padding: 0;
  /* [2] */
  margin-left: -30px;
  /* [3] */
  letter-spacing: -0.31em; }

/* Opera hack */
.opera:-o-prefocus,
.grid {
  word-spacing: -0.43em; }

/**
 * 1. Cause columns to stack side-by-side.
 * 2. Space columns apart.
 * 3. Align columns to the tops of each other.
 * 4. Full-width unless told to behave otherwise.
 * 5. Required to combine fluid widths and fixed gutters.
 */
.grid__item {
  display: inline-block;
  /* [1] */
  padding-left: 30px;
  /* [2] */
  vertical-align: top;
  /* [3] */
  width: 100%;
  /* [5] */
  -moz-box-sizing: border-box;
  /* [5] */
  box-sizing: border-box;
  /* [5] */
  letter-spacing: normal;
  word-spacing: normal; }

/**
 * Reversed grids allow you to structure your source in the opposite order to
 * how your rendered layout will appear. Extends `.grid`.
 */
.grid--rev {
  direction: rtl;
  text-align: left; }
  .grid--rev > .grid__item {
    direction: ltr;
    text-align: left; }

/**
 * Gutterless grids have all the properties of regular grids, minus any spacing.
 * Extends `.grid`.
 */
.grid--full {
  margin-left: 0; }
  .grid--full > .grid__item {
    padding-left: 0; }

/**
 * Align the entire grid to the right. Extends `.grid`.
 */
.grid--right {
  text-align: right; }
  .grid--right > .grid__item {
    text-align: left; }

/**
 * Centered grids align grid items centrally without needing to use push or pull
 * classes. Extends `.grid`.
 */
.grid--center {
  text-align: center; }
  .grid--center > .grid__item {
    text-align: left; }

/**
 * Align grid cells vertically (`.grid--middle` or `.grid--bottom`). Extends
 * `.grid`.
 */
.grid--middle > .grid__item {
  vertical-align: middle; }

.grid--bottom > .grid__item {
  vertical-align: bottom; }

/**
 * Create grids with narrower gutters. Extends `.grid`.
 */
.grid--narrow {
  margin-left: -15px; }
  .grid--narrow > .grid__item {
    padding-left: 15px; }

/**
 * Create grids with wider gutters. Extends `.grid`.
 */
.grid--wide {
  margin-left: -60px; }
  .grid--wide > .grid__item {
    padding-left: 60px; }

/*------------------------------------*\
    $WIDTHS
\*------------------------------------*/
/**
 * Create our width classes, prefixed by the specified namespace.
 */
/**
 * Our regular, non-responsive width classes.
 */
/**
 * Whole
 */
.one-whole {
  width: 100%; }

/**
 * Halves
 */
.one-half, .two-quarters, .three-sixths, .four-eighths, .five-tenths, .six-twelfths {
  width: 50%; }

/**
 * Thirds
 */
.one-third, .two-sixths, .four-twelfths {
  width: 33.333%; }

.two-thirds, .four-sixths, .eight-twelfths {
  width: 66.666%; }

/**
 * Quarters
 */
.one-quarter, .two-eighths, .three-twelfths {
  width: 25%; }

.three-quarters, .six-eighths, .nine-twelfths {
  width: 75%; }

/**
 * Fifths
 */
.one-fifth, .two-tenths {
  width: 20%; }

.two-fifths, .four-tenths {
  width: 40%; }

.three-fifths, .six-tenths {
  width: 60%; }

.four-fifths, .eight-tenths {
  width: 80%; }

/**
 * Sixths
 */
.one-sixth, .two-twelfths {
  width: 16.666%; }

.five-sixths, .ten-twelfths {
  width: 83.333%; }

/**
 * Eighths
 */
.one-eighth {
  width: 12.5%; }

.three-eighths {
  width: 37.5%; }

.five-eighths {
  width: 62.5%; }

.seven-eighths {
  width: 87.5%; }

/**
 * Tenths
 */
.one-tenth {
  width: 10%; }

.three-tenths {
  width: 30%; }

.seven-tenths {
  width: 70%; }

.nine-tenths {
  width: 90%; }

/**
 * Twelfths
 */
.one-twelfth {
  width: 8.333%; }

.five-twelfths {
  width: 41.666%; }

.seven-twelfths {
  width: 58.333%; }

.eleven-twelfths {
  width: 91.666%; }

/**
 * Our responsive classes, if we have enabled them.
 */
@media only screen and (max-width: 480px) {
  /**
   * Whole
   */
  .phone--one-whole {
    width: 100%; }

  /**
   * Halves
   */
  .phone--one-half, .phone--two-quarters, .phone--three-sixths, .phone--four-eighths, .phone--five-tenths, .phone--six-twelfths {
    width: 50%; }

  /**
   * Thirds
   */
  .phone--one-third, .phone--two-sixths, .phone--four-twelfths {
    width: 33.333%; }

  .phone--two-thirds, .phone--four-sixths, .phone--eight-twelfths {
    width: 66.666%; }

  /**
   * Quarters
   */
  .phone--one-quarter, .phone--two-eighths, .phone--three-twelfths {
    width: 25%; }

  .phone--three-quarters, .phone--six-eighths, .phone--nine-twelfths {
    width: 75%; }

  /**
   * Fifths
   */
  .phone--one-fifth, .phone--two-tenths {
    width: 20%; }

  .phone--two-fifths, .phone--four-tenths {
    width: 40%; }

  .phone--three-fifths, .phone--six-tenths {
    width: 60%; }

  .phone--four-fifths, .phone--eight-tenths {
    width: 80%; }

  /**
   * Sixths
   */
  .phone--one-sixth, .phone--two-twelfths {
    width: 16.666%; }

  .phone--five-sixths, .phone--ten-twelfths {
    width: 83.333%; }

  /**
   * Eighths
   */
  .phone--one-eighth {
    width: 12.5%; }

  .phone--three-eighths {
    width: 37.5%; }

  .phone--five-eighths {
    width: 62.5%; }

  .phone--seven-eighths {
    width: 87.5%; }

  /**
   * Tenths
   */
  .phone--one-tenth {
    width: 10%; }

  .phone--three-tenths {
    width: 30%; }

  .phone--seven-tenths {
    width: 70%; }

  .phone--nine-tenths {
    width: 90%; }

  /**
   * Twelfths
   */
  .phone--one-twelfth {
    width: 8.333%; }

  .phone--five-twelfths {
    width: 41.666%; }

  .phone--seven-twelfths {
    width: 58.333%; }

  .phone--eleven-twelfths {
    width: 91.666%; } }
@media only screen and (min-width: 480px) and (max-width: 768px) {
  /**
   * Whole
   */
  .max-tablet--one-whole {
    width: 100%; }

  /**
   * Halves
   */
  .max-tablet--one-half, .max-tablet--two-quarters, .max-tablet--three-sixths, .max-tablet--four-eighths, .max-tablet--five-tenths, .max-tablet--six-twelfths {
    width: 50%; }

  /**
   * Thirds
   */
  .max-tablet--one-third, .max-tablet--two-sixths, .max-tablet--four-twelfths {
    width: 33.333%; }

  .max-tablet--two-thirds, .max-tablet--four-sixths, .max-tablet--eight-twelfths {
    width: 66.666%; }

  /**
   * Quarters
   */
  .max-tablet--one-quarter, .max-tablet--two-eighths, .max-tablet--three-twelfths {
    width: 25%; }

  .max-tablet--three-quarters, .max-tablet--six-eighths, .max-tablet--nine-twelfths {
    width: 75%; }

  /**
   * Fifths
   */
  .max-tablet--one-fifth, .max-tablet--two-tenths {
    width: 20%; }

  .max-tablet--two-fifths, .max-tablet--four-tenths {
    width: 40%; }

  .max-tablet--three-fifths, .max-tablet--six-tenths {
    width: 60%; }

  .max-tablet--four-fifths, .max-tablet--eight-tenths {
    width: 80%; }

  /**
   * Sixths
   */
  .max-tablet--one-sixth, .max-tablet--two-twelfths {
    width: 16.666%; }

  .max-tablet--five-sixths, .max-tablet--ten-twelfths {
    width: 83.333%; }

  /**
   * Eighths
   */
  .max-tablet--one-eighth {
    width: 12.5%; }

  .max-tablet--three-eighths {
    width: 37.5%; }

  .max-tablet--five-eighths {
    width: 62.5%; }

  .max-tablet--seven-eighths {
    width: 87.5%; }

  /**
   * Tenths
   */
  .max-tablet--one-tenth {
    width: 10%; }

  .max-tablet--three-tenths {
    width: 30%; }

  .max-tablet--seven-tenths {
    width: 70%; }

  .max-tablet--nine-tenths {
    width: 90%; }

  /**
   * Twelfths
   */
  .max-tablet--one-twelfth {
    width: 8.333%; }

  .max-tablet--five-twelfths {
    width: 41.666%; }

  .max-tablet--seven-twelfths {
    width: 58.333%; }

  .max-tablet--eleven-twelfths {
    width: 91.666%; } }
@media only screen and (min-width: 768px) {
  /**
   * Whole
   */
  .tablet--one-whole {
    width: 100%; }

  /**
   * Halves
   */
  .tablet--one-half, .tablet--two-quarters, .tablet--three-sixths, .tablet--four-eighths, .tablet--five-tenths, .tablet--six-twelfths {
    width: 50%; }

  /**
   * Thirds
   */
  .tablet--one-third, .tablet--two-sixths, .tablet--four-twelfths {
    width: 33.333%; }

  .tablet--two-thirds, .tablet--four-sixths, .tablet--eight-twelfths {
    width: 66.666%; }

  /**
   * Quarters
   */
  .tablet--one-quarter, .tablet--two-eighths, .tablet--three-twelfths {
    width: 25%; }

  .tablet--three-quarters, .tablet--six-eighths, .tablet--nine-twelfths {
    width: 75%; }

  /**
   * Fifths
   */
  .tablet--one-fifth, .tablet--two-tenths {
    width: 20%; }

  .tablet--two-fifths, .tablet--four-tenths {
    width: 40%; }

  .tablet--three-fifths, .tablet--six-tenths {
    width: 60%; }

  .tablet--four-fifths, .tablet--eight-tenths {
    width: 80%; }

  /**
   * Sixths
   */
  .tablet--one-sixth, .tablet--two-twelfths {
    width: 16.666%; }

  .tablet--five-sixths, .tablet--ten-twelfths {
    width: 83.333%; }

  /**
   * Eighths
   */
  .tablet--one-eighth {
    width: 12.5%; }

  .tablet--three-eighths {
    width: 37.5%; }

  .tablet--five-eighths {
    width: 62.5%; }

  .tablet--seven-eighths {
    width: 87.5%; }

  /**
   * Tenths
   */
  .tablet--one-tenth {
    width: 10%; }

  .tablet--three-tenths {
    width: 30%; }

  .tablet--seven-tenths {
    width: 70%; }

  .tablet--nine-tenths {
    width: 90%; }

  /**
   * Twelfths
   */
  .tablet--one-twelfth {
    width: 8.333%; }

  .tablet--five-twelfths {
    width: 41.666%; }

  .tablet--seven-twelfths {
    width: 58.333%; }

  .tablet--eleven-twelfths {
    width: 91.666%; } }
@media only screen and (min-width: 1024px) {
  /**
   * Whole
   */
  .desktop--one-whole {
    width: 100%; }

  /**
   * Halves
   */
  .desktop--one-half, .desktop--two-quarters, .desktop--three-sixths, .desktop--four-eighths, .desktop--five-tenths, .desktop--six-twelfths {
    width: 50%; }

  /**
   * Thirds
   */
  .desktop--one-third, .desktop--two-sixths, .desktop--four-twelfths {
    width: 33.333%; }

  .desktop--two-thirds, .desktop--four-sixths, .desktop--eight-twelfths {
    width: 66.666%; }

  /**
   * Quarters
   */
  .desktop--one-quarter, .desktop--two-eighths, .desktop--three-twelfths {
    width: 25%; }

  .desktop--three-quarters, .desktop--six-eighths, .desktop--nine-twelfths {
    width: 75%; }

  /**
   * Fifths
   */
  .desktop--one-fifth, .desktop--two-tenths {
    width: 20%; }

  .desktop--two-fifths, .desktop--four-tenths {
    width: 40%; }

  .desktop--three-fifths, .desktop--six-tenths {
    width: 60%; }

  .desktop--four-fifths, .desktop--eight-tenths {
    width: 80%; }

  /**
   * Sixths
   */
  .desktop--one-sixth, .desktop--two-twelfths {
    width: 16.666%; }

  .desktop--five-sixths, .desktop--ten-twelfths {
    width: 83.333%; }

  /**
   * Eighths
   */
  .desktop--one-eighth {
    width: 12.5%; }

  .desktop--three-eighths {
    width: 37.5%; }

  .desktop--five-eighths {
    width: 62.5%; }

  .desktop--seven-eighths {
    width: 87.5%; }

  /**
   * Tenths
   */
  .desktop--one-tenth {
    width: 10%; }

  .desktop--three-tenths {
    width: 30%; }

  .desktop--seven-tenths {
    width: 70%; }

  .desktop--nine-tenths {
    width: 90%; }

  /**
   * Twelfths
   */
  .desktop--one-twelfth {
    width: 8.333%; }

  .desktop--five-twelfths {
    width: 41.666%; }

  .desktop--seven-twelfths {
    width: 58.333%; }

  .desktop--eleven-twelfths {
    width: 91.666%; } }
/*------------------------------------*\
    $PUSH
\*------------------------------------*/
/**
 * Push classes, to move grid items over to the right by certain amounts.
 */
/**
 * Not a particularly great selector, but the DRYest way to do things.
 */
[class*="push--"] {
  position: relative; }

/**
 * Whole
 */
.push--one-whole {
  left: 100%; }

/**
 * Halves
 */
.push--one-half, .push--two-quarters, .push--three-sixths, .push--four-eighths, .push--five-tenths, .push--six-twelfths {
  left: 50%; }

/**
 * Thirds
 */
.push--one-third, .push--two-sixths, .push--four-twelfths {
  left: 33.333%; }

.push--two-thirds, .push--four-sixths, .push--eight-twelfths {
  left: 66.666%; }

/**
 * Quarters
 */
.push--one-quarter, .push--two-eighths, .push--three-twelfths {
  left: 25%; }

.push--three-quarters, .push--six-eighths, .push--nine-twelfths {
  left: 75%; }

/**
 * Fifths
 */
.push--one-fifth, .push--two-tenths {
  left: 20%; }

.push--two-fifths, .push--four-tenths {
  left: 40%; }

.push--three-fifths, .push--six-tenths {
  left: 60%; }

.push--four-fifths, .push--eight-tenths {
  left: 80%; }

/**
 * Sixths
 */
.push--one-sixth, .push--two-twelfths {
  left: 16.666%; }

.push--five-sixths, .push--ten-twelfths {
  left: 83.333%; }

/**
 * Eighths
 */
.push--one-eighth {
  left: 12.5%; }

.push--three-eighths {
  left: 37.5%; }

.push--five-eighths {
  left: 62.5%; }

.push--seven-eighths {
  left: 87.5%; }

/**
 * Tenths
 */
.push--one-tenth {
  left: 10%; }

.push--three-tenths {
  left: 30%; }

.push--seven-tenths {
  left: 70%; }

.push--nine-tenths {
  left: 90%; }

/**
 * Twelfths
 */
.push--one-twelfth {
  left: 8.333%; }

.push--five-twelfths {
  left: 41.666%; }

.push--seven-twelfths {
  left: 58.333%; }

.push--eleven-twelfths {
  left: 91.666%; }

@media only screen and (max-width: 480px) {
  /**
   * Whole
   */
  .push--phone--one-whole {
    left: 100%; }

  /**
   * Halves
   */
  .push--phone--one-half, .push--phone--two-quarters, .push--phone--three-sixths, .push--phone--four-eighths, .push--phone--five-tenths, .push--phone--six-twelfths {
    left: 50%; }

  /**
   * Thirds
   */
  .push--phone--one-third, .push--phone--two-sixths, .push--phone--four-twelfths {
    left: 33.333%; }

  .push--phone--two-thirds, .push--phone--four-sixths, .push--phone--eight-twelfths {
    left: 66.666%; }

  /**
   * Quarters
   */
  .push--phone--one-quarter, .push--phone--two-eighths, .push--phone--three-twelfths {
    left: 25%; }

  .push--phone--three-quarters, .push--phone--six-eighths, .push--phone--nine-twelfths {
    left: 75%; }

  /**
   * Fifths
   */
  .push--phone--one-fifth, .push--phone--two-tenths {
    left: 20%; }

  .push--phone--two-fifths, .push--phone--four-tenths {
    left: 40%; }

  .push--phone--three-fifths, .push--phone--six-tenths {
    left: 60%; }

  .push--phone--four-fifths, .push--phone--eight-tenths {
    left: 80%; }

  /**
   * Sixths
   */
  .push--phone--one-sixth, .push--phone--two-twelfths {
    left: 16.666%; }

  .push--phone--five-sixths, .push--phone--ten-twelfths {
    left: 83.333%; }

  /**
   * Eighths
   */
  .push--phone--one-eighth {
    left: 12.5%; }

  .push--phone--three-eighths {
    left: 37.5%; }

  .push--phone--five-eighths {
    left: 62.5%; }

  .push--phone--seven-eighths {
    left: 87.5%; }

  /**
   * Tenths
   */
  .push--phone--one-tenth {
    left: 10%; }

  .push--phone--three-tenths {
    left: 30%; }

  .push--phone--seven-tenths {
    left: 70%; }

  .push--phone--nine-tenths {
    left: 90%; }

  /**
   * Twelfths
   */
  .push--phone--one-twelfth {
    left: 8.333%; }

  .push--phone--five-twelfths {
    left: 41.666%; }

  .push--phone--seven-twelfths {
    left: 58.333%; }

  .push--phone--eleven-twelfths {
    left: 91.666%; } }
@media only screen and (min-width: 480px) and (max-width: 768px) {
  /**
   * Whole
   */
  .push--max-tablet--one-whole {
    left: 100%; }

  /**
   * Halves
   */
  .push--max-tablet--one-half, .push--max-tablet--two-quarters, .push--max-tablet--three-sixths, .push--max-tablet--four-eighths, .push--max-tablet--five-tenths, .push--max-tablet--six-twelfths {
    left: 50%; }

  /**
   * Thirds
   */
  .push--max-tablet--one-third, .push--max-tablet--two-sixths, .push--max-tablet--four-twelfths {
    left: 33.333%; }

  .push--max-tablet--two-thirds, .push--max-tablet--four-sixths, .push--max-tablet--eight-twelfths {
    left: 66.666%; }

  /**
   * Quarters
   */
  .push--max-tablet--one-quarter, .push--max-tablet--two-eighths, .push--max-tablet--three-twelfths {
    left: 25%; }

  .push--max-tablet--three-quarters, .push--max-tablet--six-eighths, .push--max-tablet--nine-twelfths {
    left: 75%; }

  /**
   * Fifths
   */
  .push--max-tablet--one-fifth, .push--max-tablet--two-tenths {
    left: 20%; }

  .push--max-tablet--two-fifths, .push--max-tablet--four-tenths {
    left: 40%; }

  .push--max-tablet--three-fifths, .push--max-tablet--six-tenths {
    left: 60%; }

  .push--max-tablet--four-fifths, .push--max-tablet--eight-tenths {
    left: 80%; }

  /**
   * Sixths
   */
  .push--max-tablet--one-sixth, .push--max-tablet--two-twelfths {
    left: 16.666%; }

  .push--max-tablet--five-sixths, .push--max-tablet--ten-twelfths {
    left: 83.333%; }

  /**
   * Eighths
   */
  .push--max-tablet--one-eighth {
    left: 12.5%; }

  .push--max-tablet--three-eighths {
    left: 37.5%; }

  .push--max-tablet--five-eighths {
    left: 62.5%; }

  .push--max-tablet--seven-eighths {
    left: 87.5%; }

  /**
   * Tenths
   */
  .push--max-tablet--one-tenth {
    left: 10%; }

  .push--max-tablet--three-tenths {
    left: 30%; }

  .push--max-tablet--seven-tenths {
    left: 70%; }

  .push--max-tablet--nine-tenths {
    left: 90%; }

  /**
   * Twelfths
   */
  .push--max-tablet--one-twelfth {
    left: 8.333%; }

  .push--max-tablet--five-twelfths {
    left: 41.666%; }

  .push--max-tablet--seven-twelfths {
    left: 58.333%; }

  .push--max-tablet--eleven-twelfths {
    left: 91.666%; } }
@media only screen and (min-width: 768px) {
  /**
   * Whole
   */
  .push--tablet--one-whole {
    left: 100%; }

  /**
   * Halves
   */
  .push--tablet--one-half, .push--tablet--two-quarters, .push--tablet--three-sixths, .push--tablet--four-eighths, .push--tablet--five-tenths, .push--tablet--six-twelfths {
    left: 50%; }

  /**
   * Thirds
   */
  .push--tablet--one-third, .push--tablet--two-sixths, .push--tablet--four-twelfths {
    left: 33.333%; }

  .push--tablet--two-thirds, .push--tablet--four-sixths, .push--tablet--eight-twelfths {
    left: 66.666%; }

  /**
   * Quarters
   */
  .push--tablet--one-quarter, .push--tablet--two-eighths, .push--tablet--three-twelfths {
    left: 25%; }

  .push--tablet--three-quarters, .push--tablet--six-eighths, .push--tablet--nine-twelfths {
    left: 75%; }

  /**
   * Fifths
   */
  .push--tablet--one-fifth, .push--tablet--two-tenths {
    left: 20%; }

  .push--tablet--two-fifths, .push--tablet--four-tenths {
    left: 40%; }

  .push--tablet--three-fifths, .push--tablet--six-tenths {
    left: 60%; }

  .push--tablet--four-fifths, .push--tablet--eight-tenths {
    left: 80%; }

  /**
   * Sixths
   */
  .push--tablet--one-sixth, .push--tablet--two-twelfths {
    left: 16.666%; }

  .push--tablet--five-sixths, .push--tablet--ten-twelfths {
    left: 83.333%; }

  /**
   * Eighths
   */
  .push--tablet--one-eighth {
    left: 12.5%; }

  .push--tablet--three-eighths {
    left: 37.5%; }

  .push--tablet--five-eighths {
    left: 62.5%; }

  .push--tablet--seven-eighths {
    left: 87.5%; }

  /**
   * Tenths
   */
  .push--tablet--one-tenth {
    left: 10%; }

  .push--tablet--three-tenths {
    left: 30%; }

  .push--tablet--seven-tenths {
    left: 70%; }

  .push--tablet--nine-tenths {
    left: 90%; }

  /**
   * Twelfths
   */
  .push--tablet--one-twelfth {
    left: 8.333%; }

  .push--tablet--five-twelfths {
    left: 41.666%; }

  .push--tablet--seven-twelfths {
    left: 58.333%; }

  .push--tablet--eleven-twelfths {
    left: 91.666%; } }
@media only screen and (min-width: 1024px) {
  /**
   * Whole
   */
  .push--desktop--one-whole {
    left: 100%; }

  /**
   * Halves
   */
  .push--desktop--one-half, .push--desktop--two-quarters, .push--desktop--three-sixths, .push--desktop--four-eighths, .push--desktop--five-tenths, .push--desktop--six-twelfths {
    left: 50%; }

  /**
   * Thirds
   */
  .push--desktop--one-third, .push--desktop--two-sixths, .push--desktop--four-twelfths {
    left: 33.333%; }

  .push--desktop--two-thirds, .push--desktop--four-sixths, .push--desktop--eight-twelfths {
    left: 66.666%; }

  /**
   * Quarters
   */
  .push--desktop--one-quarter, .push--desktop--two-eighths, .push--desktop--three-twelfths {
    left: 25%; }

  .push--desktop--three-quarters, .push--desktop--six-eighths, .push--desktop--nine-twelfths {
    left: 75%; }

  /**
   * Fifths
   */
  .push--desktop--one-fifth, .push--desktop--two-tenths {
    left: 20%; }

  .push--desktop--two-fifths, .push--desktop--four-tenths {
    left: 40%; }

  .push--desktop--three-fifths, .push--desktop--six-tenths {
    left: 60%; }

  .push--desktop--four-fifths, .push--desktop--eight-tenths {
    left: 80%; }

  /**
   * Sixths
   */
  .push--desktop--one-sixth, .push--desktop--two-twelfths {
    left: 16.666%; }

  .push--desktop--five-sixths, .push--desktop--ten-twelfths {
    left: 83.333%; }

  /**
   * Eighths
   */
  .push--desktop--one-eighth {
    left: 12.5%; }

  .push--desktop--three-eighths {
    left: 37.5%; }

  .push--desktop--five-eighths {
    left: 62.5%; }

  .push--desktop--seven-eighths {
    left: 87.5%; }

  /**
   * Tenths
   */
  .push--desktop--one-tenth {
    left: 10%; }

  .push--desktop--three-tenths {
    left: 30%; }

  .push--desktop--seven-tenths {
    left: 70%; }

  .push--desktop--nine-tenths {
    left: 90%; }

  /**
   * Twelfths
   */
  .push--desktop--one-twelfth {
    left: 8.333%; }

  .push--desktop--five-twelfths {
    left: 41.666%; }

  .push--desktop--seven-twelfths {
    left: 58.333%; }

  .push--desktop--eleven-twelfths {
    left: 91.666%; } }
/*------------------------------------*\
    $PULL
\*------------------------------------*/
/**
 * Pull classes, to move grid items back to the left by certain amounts.
 */
/* 
	font-family: "proxima-nova-alt",sans-serif;
*/
/* Yellow */
/* Brown */
/* Pale Blue */
/* Light yellow */
/* Dark blue */
/*  Red */
/*
 * Mixin for easy media queries
 * @include bp(tablet) { SCSS here };
*/
/*
 * Mixin for fonf size and line-height
 * @include font-size(16);
*/
/*
* Mixin for SVG with PNG Fallback	
* Here we can pass parameters: name, extension, color, position, repeat
* with this example we will just repeat the graphic
* @include svg-bg('graphic-name', $repeat: repeat);
*/
/*
 * Mixin for removing list bullet styles
 * @include remove-default-list-style;
*/
/*
 * Mixin for button style
 * @include border-button;
*/
/*
 * Mixin for micro clearfix
 * @include microclearfix;
*/
/*
 * Mixin for micro clearfix
 * @include inline-block;
*/
/*
 * Mixin for basic CSS triangles
 * @include triangle(up, #000, 50px)
*/
/*
 * @font-face mixin
 * Bulletproof font-face via Font Squirrel
 * @include fontface('family', 'assets/fonts/', 'myfontname');
 */
/* ==========================================================================
   Border-box all the things!
   ========================================================================== */
/* Alignment */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto; }

/* Text meant only for screen readers */
.assistive-text {
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important; }

*,
:before,
:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

fieldset {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  margin-top: 20px; }
  @media (min-width: 768px) {
    fieldset {
      width: 49%;
      margin-right: 2%; } }
  fieldset:last-of-type {
    margin-right: 0;
    margin-top: 0; }
    @media (min-width: 768px) {
      fieldset:last-of-type {
        margin-top: 20px; } }

input, textarea {
  color: #fff;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  background: #3b2c38;
  margin-bottom: 10px;
  font-family: "proxima-nova-alt",sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #F2F2F2; }
  input::-moz-placeholder, textarea::-moz-placeholder {
    color: #F2F2F2; }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #F2F2F2; }

textarea {
  padding-top: 10px;
  height: 191px; }

input[type=submit], textarea[type=submit] {
  float: right;
  width: auto;
  height: auto;
  color: #fff;
  font-size: 20px;
  padding: 3px 8px;
  border-radius: 5px;
  border: 2px solid transparent;
  background: none;
  margin-top: 10px;
  text-transform: lowercase;
  cursor: pointer; }
  input[type=submit]:hover, textarea[type=submit]:hover {
    border: 2px solid #fff; }

.select-style {
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 5px;
  background: #3b2c38 url(img/select-arrows.png) 96% 50% no-repeat; }

.select-style select {
  width: 110%;
  font-size: 14px;
  color: #9a959a;
  border: none;
  padding: 5px 10px;
  box-shadow: none;
  background: transparent;
  background-image: none;
  font-family: "proxima-nova-alt",sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }
  .select-style select::-webkit-input-placeholder {
    color: #F2F2F2; }
  .select-style select::-moz-placeholder {
    color: #F2F2F2; }
  .select-style select:-ms-input-placeholder {
    color: #F2F2F2; }
  .select-style select option {
    color: #fff;
    background: #3b2c38;
    padding: 6px 30px;
    cursor: pointer;
    border: none; }

input:focus:required:invalid, textarea:focus:required:invalid {
  background-image: url(img/invalid.svg);
  background-repeat: no-repeat;
  background-position: 96% center;
  background-size: 25px 25px;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
  outline: none;
  border: 2px solid #ff0000; }

input:required:valid, textarea:required:valid {
  background-image: url(img/valid.svg);
  background-repeat: no-repeat;
  background-position: 96% center;
  background-size: 25px 25px;
  -webkit-transition: background-image 0.3s ease-in-out;
  transition: background-image 0.3s ease-in-out; }

html, body {
  width: 100%;
  height: 100%; }

body {
  position: relative;
  min-height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: none;
  font-family: "proxima-nova-alt",sans-serif; }

::-moz-selection {
  background: orange;
  text-shadow: none; }

::selection {
  background: orange;
  text-shadow: none; }

img {
  max-width: 100%; }

.wrapper {
  width: 90%;
  margin: 0 auto; }
  @media (min-width: 1200px) {
    .wrapper {
      width: 1024px; } }

.wrapper-inner {
  width: 96%;
  margin: 0 auto; }
  @media (min-width: 1024px) {
    .wrapper-inner {
      width: 80%; } }

.demo-block {
  padding: 5px 5px;
  background: #f00; }

/* Type */
h1 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.66666667;
  margin-bottom: 20px;
  margin-bottom: 1.25rem; }

h2 {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.81818182;
  margin-bottom: 20px;
  margin-bottom: 1.25rem; }

h3 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1;
  margin-bottom: 20px;
  margin-bottom: 1.25rem; }

h4 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.11111111;
  margin-bottom: 20px;
  margin-bottom: 1.25rem; }

h5 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  margin-bottom: 20px;
  margin-bottom: 1.25rem; }

h6 {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.42857143;
  margin-bottom: 20px;
  margin-bottom: 1.25rem; }

a {
  text-decoration: none; }

p {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  margin-bottom: 20px;
  margin-bottom: 1.25rem; }

ul {
  list-style-type: disc;
  margin-left: 13px;
  margin-bottom: 15px; }
  ul li {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
    margin-bottom: 0; }

ol {
  list-style-type: decimal;
  margin-left: 13px;
  margin-bottom: 15px; }
  ol li {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
    margin-bottom: 0; }

blockquote {
  display: block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 30px 0;
  position: relative;
  text-align: justify;
  border-left: 15px solid #000;
  border-right: 2px solid #000;
  box-shadow: 2px 2px 15px #ccc; }

blockquote::before {
  position: absolute;
  left: 10px;
  top: 5px;
  content: "\201C";
  /*Unicode for Left Double Quote*/
  font-size: 60px;
  font-weight: bold; }

blockquote::after {
  content: "";
  /*Unicode for Right Double Quote*/ }

header {
  position: relative;
  display: inline-block;
  width: 100%;
  min-height: 466px;
  overflow: hidden;
  text-align: center;
  background: #3c2d39; }

canvas {
  display: block;
  vertical-align: bottom; }

h1.logo a {
  float: left;
  text-align: left;
  font-size: 26px;
  font-size: 1.625rem;
  line-height: 1.53846154;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  line-height: 24px;
  font-weight: 700;
  color: #e0dc00; }
  @media (min-width: 768px) {
    h1.logo a {
      margin-top: 30px; } }

.brown h1.logo a {
  color: #3c2d39; }

.navigation-common {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  width: 100%;
  display: inline-block;
  z-index: 50; }

.header-welcome {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: -68px;
  display: inline-block;
  color: #fff; }
  .header-welcome h2 {
    font-size: 92px;
    font-size: 5.75rem;
    line-height: 1.08695652;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
    margin-bottom: 8px;
    line-height: 80px;
    font-weight: 700; }
  .header-welcome p {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
    margin-bottom: 15px; }
    .header-welcome p.yellow {
      color: #e0dc00; }
  .header-welcome a {
    position: absolute;
    bottom: 30px; }

.arrow {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -15px; }
  @media (min-width: 768px) {
    .arrow {
      bottom: 30px; } }

section {
  position: relative;
  min-height: 466px;
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-pack: center;
  background-color: #fff;
  padding: 30px 0;
  overflow: hidden; }
  @media (min-width: 768px) {
    section {
      min-height: 466px;
      padding: 0; } }
  section.add-padding {
    padding: 30px 0 0 0; }
  section h1 {
    display: block;
    font-size: 35px;
    line-height: 41px;
    color: #3c2d39;
    text-align: center;
    font-weight: 700; }
    @media (min-width: 768px) {
      section h1 {
        font-size: 80px;
        line-height: 84px; } }
    section h1 span {
      color: #e0dc00; }
  section h2 {
    display: block;
    font-size: 35px;
    color: #3c2d39;
    text-align: center;
    font-weight: 700;
    margin-bottom: 0; }
    @media (min-width: 768px) {
      section h2 {
        font-size: 54px; } }
    section h2 span {
      position: relative;
      top: 5px;
      color: #e0dc00; }
  section p {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px; }
    @media (min-width: 768px) {
      section p {
        width: 68%;
        font-size: 22px;
        line-height: 28px; } }
  section a {
    color: #fff;
    text-decoration: underline; }

.challenge {
  background: url(img/mesh.png) #e0dc00 center center no-repeat;
  background: none, url(img/mesh.svg) #e0dc00 center center no-repeat;
  background-size: 1036px 352px; }
  @media (min-width: 1024px) {
    .challenge {
      height: 100vh; } }
  .challenge h1, .challenge p {
    color: #fff; }

.skills {
  background: #594856; }
  .skills h2, .skills p {
    color: #fff; }
  .skills p {
    margin-bottom: 60px; }

.selected-works {
  background: url(img/works.png) #2ba1af bottom center no-repeat;
  background: none, url(img/works.svg) #2ba1af bottom center no-repeat; }
  @media (min-width: 768px) {
    .selected-works {
      min-height: 628px; } }
  .selected-works h2 {
    color: #fff; }

.testimonial-intro {
  background: url(img/people.png) #e7e857 bottom center no-repeat;
  background: none, url(img/people.svg) #e7e857 bottom center no-repeat;
  background-size: 599px 321px; }
  .testimonial-intro h1 {
    color: #fff; }

.quote-top-left {
  float: left;
  width: 36px;
  margin-left: 5%;
  display: none; }
  @media (min-width: 768px) {
    .quote-top-left {
      display: block; } }

.quote-top-right {
  position: relative;
  top: -50px;
  float: right;
  width: 36px;
  margin-left: 95%;
  display: none; }
  @media (min-width: 768px) {
    .quote-top-right {
      display: block; } }

q {
  quotes: '\201c' '\201d'; }
  q:before {
    position: absolute;
    top: -10px;
    left: -6%;
    content: open-quote;
    color: #fff;
    font-size: 50px; }
    @media (min-width: 1024px) {
      q:before {
        top: 10%;
        left: -2%; } }
  q:after {
    position: absolute;
    top: auto;
    right: -6%;
    bottom: -50%;
    content: close-quote;
    color: #fff;
    font-size: 50px; }
    @media (min-width: 1024px) {
      q:after {
        right: -2%;
        bottom: -15%; } }

footer {
  padding: 70px 0;
  color: #3c2d39;
  background: #e0dc00; }
  footer p {
    float: left;
    font-size: 14px;
    margin: 3px 43px 0 0; }
  footer ul.footer-links {
    display: inline-block;
    text-align: center;
    margin-left: 0; }
    footer ul.footer-links li {
      display: inline; }
      footer ul.footer-links li a {
        color: #3c2d39;
        font-size: 14px;
        margin: 0 0 10px 0;
        display: block;
        border-radius: 5px;
        padding: 3px 8px;
        border: 2px solid transparent; }
        @media (min-width: 768px) {
          footer ul.footer-links li a {
            display: inline-block;
            margin: 0 29px 30px 0; } }
        footer ul.footer-links li a:hover {
          border: 2px solid #3c2d39; }
      footer ul.footer-links li:last-child a {
        margin-right: 0; }

.credits {
  width: 100%;
  display: block;
  margin: 40px auto;
  text-align: center; }
  @media (min-width: 1024px) {
    .credits {
      width: 63.4765625%; } }
  .credits p {
    float: none;
    margin-right: 0;
    margin-bottom: 15px;
    margin-top: 3px; }
    @media (min-width: 768px) {
      .credits p {
        float: left;
        margin: 5px 43px 0 0; } }
    @media (min-width: 1024px) {
      .credits p {
        margin-top: 3px; } }

.menu {
  float: right;
  margin-top: 39px;
  display: none;
  visibility: hidden; }
  @media (min-width: 1024px) {
    .menu {
      display: block;
      visibility: visible; } }
  .menu__item {
    display: inline; }
    .menu__item a {
      color: #fff;
      padding: 5px 8px;
      border-radius: 5px;
      border: 2px solid #3c2d39;
      margin-left: 15px;
      text-transform: lowercase; }
      .menu__item a:hover {
        border-color: #fff; }

.yellow .menu__item a {
  border-color: #e0dc00; }
  .yellow .menu__item a:hover {
    border-color: #fff; }

.about .menu__item a {
  border-color: #e0dc00; }
  .about .menu__item a:hover {
    border-color: #fff; }

.work .menu__item a {
  border-color: #2ba1af; }
  .work .menu__item a:hover {
    border-color: #fff; }

.testimonail-page .menu__item a {
  border-color: #e7e857; }
  .testimonail-page .menu__item a:hover {
    border-color: #fff; }

.contact .menu__item a {
  border-color: #594856; }
  .contact .menu__item a:hover {
    border-color: #fff; }

.cd-nav-trigger {
  position: absolute;
  z-index: 3;
  top: 20px;
  right: 4%;
  height: 44px;
  width: 44px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transform: 0.2s;
  -ms-transform: 0.2s;
  transform: 0.2s; }
  .cd-nav-trigger.is-visible {
    display: none; }
  @media (min-width: 1024px) {
    .cd-nav-trigger {
      display: none; } }

.cd-nav-trigger span {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 32px;
  height: 3px;
  background-color: #e0dc00; }

.about .cd-nav-trigger span,
.work .cd-nav-trigger span,
.testimonail-page .cd-nav-trigger span {
  background-color: #3c2d39; }

.cd-nav-trigger span::before, .cd-nav-trigger span:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: 0.2s width 0.2s;
  -ms-transform: 0.2s width 0.2s;
  transform: 0.2s width 0.2s; }

.cd-nav-trigger span::before {
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px); }

.cd-nav-trigger span::after {
  -webkit-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px); }

.no-touch .cd-nav-trigger:hover {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

/*
.no-touch .cd-nav-trigger:hover span::after,
.no-touch .cd-nav-trigger:hover span::before { 
  width: 50%;
}
.no-touch .cd-nav-trigger:hover span::before {
  -webkit-transform: translateX(1px) translateY(1px) rotate(45deg);
  -moz-transform: translateX(1px) translateY(1px) rotate(45deg);
  -ms-transform: translateX(1px) translateY(1px) rotate(45deg);
  -o-transform: translateX(1px) translateY(1px) rotate(45deg);
  transform: translateX(1px) translateY(1px) rotate(45deg);
}
.no-touch .cd-nav-trigger:hover span::after {
  -webkit-transform: translateX(1px) translateY(-1px) rotate(-45deg);
  -moz-transform: translateX(1px) translateY(-1px) rotate(-45deg);
  -ms-transform: translateX(1px) translateY(-1px) rotate(-45deg);
  -o-transform: translateX(1px) translateY(-1px) rotate(-45deg);
  transform: translateX(1px) translateY(-1px) rotate(-45deg);
}
@media only screen and (min-width: 1024px) {
  .cd-nav-trigger {
    top: 38px;
  }
}
*/
/* Close Nav */
.cd-close-nav {
  position: absolute;
  height: 44px;
  width: 44px;
  right: 2%;
  top: 38px;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transform: opacity 0.2s;
  -ms-transform: opacity 0.2s;
  transform: opacity 0.2s;
  z-index: 99999; }

.cd-close-nav::after, .cd-close-nav::before {
  content: '';
  position: absolute;
  height: 3px;
  width: 32px;
  left: 50%;
  top: 50%;
  background-color: #5c4b51;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden; }

.cd-close-nav::after {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg); }

.cd-close-nav::before {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  transform: translateX(-50%) translateY(-50%) rotate(-45deg); }

.no-touch .cd-close-nav:hover {
  opacity: .8; }

@media only screen and (min-width: 700px) {
  .cd-close-nav {
    right: 7.14%; } }
.cd-nav-container {
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
  overflow-y: auto;
  background-color: #ffffff;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.4s 0s, box-shadow 0s 0.4s;
  transition: transform 0.4s 0s, box-shadow 0s 0.4s; }

.cd-nav-container.is-visible {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-overflow-scrolling: touch;
  box-shadow: -4px 0 30px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 0.4s 0s, box-shadow 0s 0s;
  transition: transform 0.4s 0s, box-shadow 0s 0s; }

main {
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s; }

main.scale-down {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9); }

.cd-section {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /*overflow-y: auto;*/
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform 0s 0.4s;
  transition: transform 0s 0.4s; }

.cd-section.cd-selected {
  position: relative;
  z-index: 2;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.4s 0s;
  transition: transform 0.4s 0s; }

.cd-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 80px; }

.cd-nav::after {
  clear: both;
  content: "";
  display: table; }

.cd-nav li {
  width: 50%;
  float: left;
  /* 68px is the navigation header height  and the menu items will be allocated in 3 rows */
  height: -webkit-calc((100vh - 68px)/3);
  /* 68px is the navigation header height  and the menu items will be allocated in 3 rows */
  height: calc((100vh - 68px)/3);
  min-height: 120px;
  border: 1px solid #ffffff;
  border-top: none;
  border-left: none; }

.cd-nav li:nth-of-type(2n) {
  border-right-width: 0; }

.cd-nav a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  color: #3c2d39;
  text-align: center;
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  background-color: #f2f2f2; }
  .cd-nav a:hover, .cd-nav a:target {
    background-color: #e0dc00; }

.no-touch .cd-nav li:first-of-type a:hover,
.cd-nav li:first-of-type a,
.cd-nav li.cd-selected:first-of-type a {
  vertical-align: middle;
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical; }

@media only screen and (min-width: 700px) {
  .cd-nav li {
    /* 116px is the navigation header height and the menu items will be allocated in 3 rows */
    height: -webkit-calc((100vh - 116px)/3);
    /* 116px is the navigation header height and the menu items will be allocated in 3 rows */
    height: calc((100vh - 116px)/3);
    min-height: 200px; } }
@media only screen and (min-width: 1024px) {
  .cd-nav li {
    width: 33.33%;
    float: left;
    /* 116px is the navigation header height  and the menu items will be allocated in 2 rows */
    height: -webkit-calc((100vh / 2));
    /* 116px is the navigation header height  and the menu items will be allocated in 2 rows */
    height: calc((100vh / 2));
    min-height: 250px; }

  .cd-nav li:nth-of-type(2n) {
    border-right-width: 1px; }

  .cd-nav li:nth-of-type(3n) {
    border-right-width: 0; } }
@-webkit-keyframes cd-shock {
  0% {
    -webkit-transform: rotate(0); }
  30% {
    -webkit-transform: rotate(10deg); }
  60% {
    -webkit-transform: rotate(-10deg); }
  100% {
    -webkit-transform: rotate(0); } }
@keyframes cd-shock {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0); }
  30% {
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg); }
  60% {
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg); }
  100% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0); } }
.cycle-slideshow-container {
  position: relative;
  width: 100%;
  margin-top: 30px;
  text-align: center; }

.latest-project {
  position: relative;
  top: 8px; }
  @media (min-width: 768px) {
    .latest-project {
      top: auto; } }
  .latest-project__project-title {
    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0;
    margin: 0;
    color: #fff;
    line-height: 33px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font-size: 25px; }
    @media (min-width: 768px) {
      .latest-project__project-title {
        font-size: 54px; } }
  .latest-project__project-type {
    color: #e0dc00;
    font-size: 26px;
    margin: 8px 0 5px 0;
    width: 100%; }
  .latest-project__project-link {
    color: #fff;
    width: 100px;
    padding: 5px 8px;
    border-radius: 5px;
    border: 2px solid #fff;
    margin: 15px auto 0 auto;
    text-decoration: none;
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear; }
    .latest-project__project-link:hover {
      border-color: #fff; }
  .latest-project__slide, .latest-work--text__slide {
    width: 100%;
    text-align: center; }
    .latest-project__slide__container {
      position: relative;
      width: 100%;
      margin: 0 auto; }
      @media (min-width: 1024px) {
        .latest-project__slide__container {
          width: 670px; } }
    .latest-project__slide__image {
      position: relative;
      top: 3px; }
  .latest-project__mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    display: -webkit-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-pack: center;
    opacity: 0;
    cursor: pointer;
    text-align: center; }
    .latest-project__mask:hover {
      opacity: 1; }
      .latest-project__mask:hover h2, .latest-project__mask:hover p {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px); }
      .latest-project__mask:hover a {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s; }
  .latest-project__next, .latest-project__prev, .latest-work__next, .latest-work__prev, .testimonial__next, .testimonial__prev {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    right: 5%;
    cursor: pointer;
    z-index: 900;
    display: none; }
    @media (min-width: 768px) {
      .latest-project__next, .latest-project__prev, .latest-work__next, .latest-work__prev, .testimonial__next, .testimonial__prev {
        top: 50%;
        margin-top: -15px;
        display: block; } }
    .latest-project__next svg, .latest-project__prev svg, .latest-work__next svg, .latest-work__prev svg, .testimonial__next svg, .testimonial__prev svg {
      width: 20px;
      height: 20px; }
      @media (min-width: 768px) {
        .latest-project__next svg, .latest-project__prev svg, .latest-work__next svg, .latest-work__prev svg, .testimonial__next svg, .testimonial__prev svg {
          width: 30px;
          height: 30px; } }
  .latest-project__prev {
    left: 5%;
    right: auto; }

.latest-work__slide {
  width: 100%;
  padding-top: 0;
  text-align: center; }
  .latest-work__slide__image {
    position: relative;
    bottom: -3px; }
.latest-work__next {
  display: block;
  padding: 10px 10px;
  background: rgba(0, 0, 0, 0.8); }
  @media (min-width: 768px) {
    .latest-work__next {
      background: none; } }
.latest-work__prev {
  display: block;
  left: 5%;
  right: auto;
  padding: 10px 10px;
  background: rgba(0, 0, 0, 0.8); }
  @media (min-width: 768px) {
    .latest-work__prev {
      background: none; } }

.latest-work--text {
  width: 100%;
  display: inline-block;
  background: #3c2d39; }
  .latest-work--text__slide {
    padding: 30px 0; }
    .latest-work--text__slide__title {
      color: #fff;
      font-weight: 700;
      margin: 0; }
      @media (min-width: 768px) {
        .latest-work--text__slide__title {
          font-size: 54px;
          line-height: 60px; } }
    .latest-work--text__slide__type {
      color: #e0dc00;
      font-size: 36px;
      line-height: 40px;
      margin: 0 0 15px 0; }
    .latest-work--text__slide__button {
      color: #fff;
      width: 100px;
      padding: 5px 8px;
      border-radius: 5px;
      border: 2px solid #fff;
      margin: 15px auto 0 auto;
      text-decoration: none;
      margin: 0 10px; }
      .latest-work--text__slide__button:hover {
        border-color: #fff; }
      .latest-work--text__slide__button:hover {
        opacity: .5; }
  .latest-work--text .latest-work__details__title, .latest-work--text .latest-work__details__fonts, .latest-work--text .latest-work__details__description {
    color: #fff;
    font-size: 20px; }
  .latest-work--text .latest-work__details__description {
    margin-bottom: 30px; }

section.responsive {
  min-height: inherit;
  background: #594856 url(img/devices.svg) no-repeat center center; }
  @media (min-width: 768px) {
    section.responsive {
      min-height: 228px; } }
  section.responsive h2, section.responsive p {
    color: #fff; }

section.employment {
  min-height: inherit;
  padding-bottom: 1px; }
  section.employment .employment-history {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    text-align: center; }
    section.employment .employment-history__item {
      position: relative;
      display: block;
      margin: 15px auto 81px auto; }
      section.employment .employment-history__item:after {
        content: '';
        position: absolute;
        top: 100%;
        right: auto;
        left: 50%;
        height: 182px;
        border-left: 2px solid #e0dc00; }
        @media (min-width: 768px) {
          section.employment .employment-history__item:after {
            top: 105%; } }
      @media (min-width: 768px) {
        section.employment .employment-history__item {
          margin-bottom: 182px; } }
    section.employment .employment-history__date {
      position: relative;
      top: 8px;
      width: 62px;
      padding: 2px 8px;
      border-radius: 5px;
      border: 2px solid #e0dc00;
      background: #fff;
      text-decoration: none;
      z-index: 20; }
      @media (min-width: 768px) {
        section.employment .employment-history__date:before {
          content: '';
          position: absolute;
          top: 50%;
          left: -27px;
          border-top: 2px solid #e0dc00;
          width: 27px;
          height: 20px; } }
      @media (min-width: 1024px) {
        section.employment .employment-history__date:before {
          left: -40px;
          width: 40px; } }
      @media (min-width: 768px) {
        section.employment .employment-history__date.employment-history__date--right:before {
          top: 50%;
          left: auto;
          right: -25px;
          width: 25px;
          height: 20px; } }
      @media (min-width: 1024px) {
        section.employment .employment-history__date.employment-history__date--right:before {
          right: -40px;
          width: 40px; } }
    section.employment .employment-history__job {
      position: relative;
      z-index: 10;
      padding: 15px 15px;
      border-radius: 5px;
      background: #3c2d39;
      border: 10px solid #e0dc00; }
      @media (min-width: 768px) {
        section.employment .employment-history__job {
          position: absolute;
          top: 0;
          width: 39.0625%;
          /* 400 / 1024  */
          -webkit-transition: all 1.5s ease-in-out;
          transition: all 1.5s ease-in-out; } }
      section.employment .employment-history__job:before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        top: -8px;
        left: -8px;
        right: -8px;
        bottom: -8px;
        border: 8px solid #fff; }
    @media (min-width: 768px) {
      section.employment .employment-history__job[data-position='left'] {
        left: -100%; } }
    @media (min-width: 768px) {
      section.employment .employment-history__job[data-position='right'] {
        right: -100%;
        left: auto;
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s; } }
    section.employment .employment-history__job[data-position='left'].viewed {
      opacity: 1; }
      @media (min-width: 768px) {
        section.employment .employment-history__job[data-position='left'].viewed {
          left: 4.8%; } }
    section.employment .employment-history__job[data-position='right'].viewed {
      opacity: 1; }
      @media (min-width: 768px) {
        section.employment .employment-history__job[data-position='right'].viewed {
          right: 4.3%; } }
    section.employment .employment-history__title,
    section.employment .employment-history h1 {
      color: #e0dc00;
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
      margin: 0 0 15px 0; }
    section.employment .employment-history__description,
    section.employment .employment-history p {
      color: #fff;
      width: 100%;
      font-size: 14px;
      line-height: 18px; }

.skill__icon {
  display: block;
  max-width: 110px;
  margin: 0 auto 15px auto; }
.skill__name {
  font-size: 14px;
  line-height: 20px; }

section.get-in-touch {
  background: #028c8f url(img/ocho.jpg) no-repeat center top;
  background-size: cover; }
  @media (min-width: 768px) {
    section.get-in-touch {
      min-height: 600px; } }
  section.get-in-touch h2, section.get-in-touch p {
    color: #fff; }
    @media (min-width: 768px) {
      section.get-in-touch h2, section.get-in-touch p {
        width: 80%;
        display: block;
        margin: 0 auto; } }

.testimonials {
  background: #3c2d39; }
  .testimonials h1 {
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    margin: 0; }
    @media (min-width: 768px) {
      .testimonials h1 {
        font-size: 32px;
        line-height: 38px; } }
  .testimonials p {
    color: #e0dc00;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700; }
    @media (min-width: 768px) {
      .testimonials p {
        font-size: 22px;
        line-height: 28px; } }

.testimonial {
  text-align: center; }
  .testimonial__slide {
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .testimonial__prev {
    left: 5%;
    right: auto; }

section .triangle {
  position: relative;
  padding: 30px 30px;
  margin: 60px auto 4em auto;
  color: #fff;
  width: 90%;
  background: #218b93;
  border-radius: 10px; }
  @media (min-width: 768px) {
    section .triangle {
      width: 60%;
      padding: 60px 30px; } }
  section .triangle.full-width {
    width: 100%; }
  section .triangle p {
    color: #fff;
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    font-weight: 400; }
    @media (min-width: 768px) {
      section .triangle p {
        font-size: 20px;
        line-height: 26px; } }
  section .triangle .quote-top-left {
    position: absolute;
    top: -22px;
    left: -40px;
    width: 60px;
    z-index: 999999; }
  section .triangle .quote-top-right {
    position: absolute;
    top: auto;
    bottom: -15px;
    right: -20px;
    width: 60px; }

.triangle:after {
  content: "";
  position: absolute;
  top: -60px;
  left: 80px;
  border-width: 60px 60px 0 0;
  border-style: solid;
  border-color: #218b93 transparent;
  display: block;
  width: 0; }

.triangle.top:after {
  border-width: 60px 60px 0 0;
  border-color: transparent #218b93; }

.triangle.bottom:after {
  top: auto;
  bottom: -40px; }

.triangle.top {
  background: #218b93; }

.social {
  display: block;
  margin: 0 auto;
  text-align: center; }
  .social__item {
    display: inline; }
    .social__item__link {
      width: 44px;
      height: 44px;
      margin: 0 2%;
      display: inline-block; }
      .social__item__link:hover {
        opacity: 0.5; }
    .social__item.social__item--twitter .social__item__link {
      background: url(img/twitter-icon.png) transparent 0 0 repeat;
      background: none, url(img/twitter-icon.svg) transparent 0 0 repeat; }
    .social__item.social__item--linkedin .social__item__link {
      background: url(img/linkedin-icon.png) transparent 0 0 repeat;
      background: none, url(img/linkedin-icon.svg) transparent 0 0 repeat; }
    .social__item.social__item--flickr .social__item__link {
      background: url(img/flickr-icon.png) transparent 0 0 repeat;
      background: none, url(img/flickr-icon.svg) transparent 0 0 repeat; }

.linktopage {
  width: auto;
  margin: 0 auto;
  padding: 12px 4%;
  color: #fff;
  background: #e0dc00;
  border: 1px solid #fff;
  font-size: 20px;
  font-weight: 700;
  display: inline-block; }
  .linktopage.linktopage-full-width {
    width: 100%; }
  .linktopage.small-style {
    border: none;
    font-weight: 400;
    padding: 5px 3%;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-family: "open-sans-condensed",sans-serif; }
    .linktopage.small-style:hover, .linktopage.small-style.active {
      background: #218b93; }

.left {
  float: left; }

.right {
  float: right; }

section.current-role {
  min-height: inherit;
  background: #E5E35C url(img/keyboard.svg) no-repeat center center; }
  section.current-role h2 {
    color: #fff; }
    section.current-role h2 span {
      color: #fffb2e; }

section.availability {
  min-height: inherit;
  padding: 30px 0;
  background: #fff; }

.introduction {
  position: absolute;
  bottom: 15px; }
  @media (min-width: 768px) {
    .introduction {
      width: 100%;
      bottom: 30px; } }
  @media (min-width: 1024px) {
    .introduction {
      width: 1024px; } }
  .introduction p {
    position: relative;
    font-size: 16px;
    line-height: 22px; }
    @media (min-width: 1024px) {
      .introduction p {
        font-size: 18px;
        line-height: 24px; } }

section.contact {
  background: #594856;
  padding-top: 60px; }
  section.contact h2, section.contact p {
    color: #fff; }

.triangle.dark.bottom {
  background: #3b2c38;
  padding: 30px 30px; }
  .triangle.dark.bottom:after {
    border-color: #3b2c38 transparent; }
  .triangle.dark.bottom h1 {
    color: #fff;
    font-size: 40px;
    font-size: 2.5rem;
    line-height: 1;
    margin-bottom: 20px;
    margin-bottom: 1.25rem; }
    @media (min-width: 768px) {
      .triangle.dark.bottom h1 {
        font-size: 80px;
        font-size: 5rem;
        line-height: 1;
        margin-bottom: 20px;
        margin-bottom: 1.25rem; } }

/*# sourceMappingURL=style.scss.map */
