@use '../../styles/partials/variables' as vars; 

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes hideCursor {
    to {
        opacity: 0;
    }
}

.header {
    position: sticky;
    top: 0;
    padding: 30px 0;
    background: var(--black);
    z-index: 10;

    &__wrap {
        display: flex;
        width: calc(100% - 40px);
        max-width: vars.$wrapper-width;
        margin: 0 auto;
    }

    &__logo {
        display: flex;
	    align-items: center;
        color: var(--pink);
        font-size: vars.rem(24px);
        font-weight: 700;

        display: grid;
        place-items: center;

        &:hover {
            font-style: italic;
        }
    }

    &__logoType {
        width: 17ch;
        animation: typing 2s steps(17), blink .5s step-end infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid;
        animation: typing 2s steps(17), blink .5s step-end infinite alternate;
    }

    &__menu {
        display: flex;
	    align-items: center;
        margin-left: auto;
        list-style-type: none;

        @include vars.media('tablet', max) {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            background: var(--black);
        }
    }

    &__item {

        @include vars.media('tablet', max) {
            flex: 1;
            text-align: center;
        }

        &Last {

            @include vars.media('tablet', max) {
                position: fixed;
                top: 10px;
                right: 0
            }
        }
    }

    &__link {
        display: block;
        font-size: vars.rem(20px);
        padding: 20px 20px;
        transition: transform .4s;
        border-top: 1px solid  var(--offBlack);

        @include vars.media('tablet') {
            padding: 11px 20px;
        }

        &:hover {
            color: var(--pink);
            transform: translateY(-8px);
        }

        &Cta {
            color: var(--pink);
            font-weight: 700;

            &:hover {
                font-style: italic;
                transform: none;
            }
        }
    }
}