@use '../../styles/partials/variables' as vars; 

.title {
    font-size: clamp(2rem, 3vw, 4.5rem);
    font-family: vars.$title-font;
    margin: vars.$margin 0;

    @include vars.media('tablet') {
        margin-top: calc(vars.$margin * 3);
    }

    &__text {
        max-width: 80%;
        font-size: clamp(1.2rem, 1.5vw, 2rem);
        line-height: 130%;
        margin-bottom: vars.$margin;

        @include vars.media('tablet') {
            max-width: 50%;
        }
    }
}