@use '../../styles/partials/variables' as vars;
@use "sass:math";

.hero {
    align-items: center;

    &__title {
        font-size: clamp(2rem, 15vw, 12rem);
        line-height: .9;
        font-weight: 700;
        text-transform: uppercase;
        align-self: center;
        background-repeat: repeat;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin-bottom: calc(vars.$margin / 2);

        span {
            display: block;
            word-break: break-all;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__text {
        max-width: 90%;
        font-size: clamp(1.2rem, 1.5vw, 2rem);
        line-height: 130%;
        margin-bottom: vars.$margin;

        @include vars.media('tablet') {
            max-width: 70%;
        }
    }
}