@use '../partials/variables' as vars; 

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	color: var(--white);
	background: var(--black);
	font-family: var(--font-gilroy), sans-serif;
	line-height: 150%;
}

.responsive-img {
	width: 100%;
	height: auto;
}