fieldset {
	float:left;
	width:100%;
	padding:0;
	margin:0;
	border:none;
	margin-top:(20px);
	@include bp(tablet) {
		width:49%;	
		margin-right:2%;	
	}
	&:last-of-type {
		margin-right:0;
		margin-top:0;
		@include bp(tablet) {
			margin-top:(20px);
		}
	}
}
input {
	color:#fff;
	width:100%;
	height:40px;
	padding-left:(10px);
	padding-right:(10px);
	border-radius:(5px);
	border:none;
	font-size:(14px);
	background:#3b2c38;
	margin-bottom:(10px);
	font-family: "proxima-nova-alt",sans-serif;
	@include appearance(none);
	@include placeholder {
    	color:#F2F2F2; 
  	}
}
textarea {
	@extend input;
	padding-top:(10px);
	height:(191px);	
}
input[type=submit] {
	float:right;
	width:auto;
	height:auto;
	color:#fff;
	font-size:(20px);
	padding:(3px) (8px);
	border-radius:(5px);
	border:2px solid transparent;
	background:none;
	margin-top:(10px);
	text-transform:lowercase;
	cursor:pointer;
	&:hover {
		border:2px solid #fff;
	}
}

.select-style {
    overflow: hidden;
	margin-bottom:(10px);
	border-radius:(5px);
	background:#3b2c38 url(#{$assetPath}/select-arrows.png) 96% 50% no-repeat;
}

.select-style select {
    width: 110%;
	font-size:(14px);
	color:#9a959a; 
    border: none;
	padding:(5px) (10px);
    box-shadow: none;
    background: transparent;
    background-image: none;
	font-family: "proxima-nova-alt",sans-serif;
	@include appearance(none);
	@include placeholder {
    	color:#F2F2F2; 
  	}
	option {
		color:#fff; 
		background:#3b2c38;
		padding:(6px) $gutter;
		cursor:pointer;
		border:none;
	}
}

input:focus:required:invalid {
	background-image:url(#{$assetPath}/invalid.svg);
	background-repeat:no-repeat;
	background-position:96% center;
  	background-size:25px 25px;
	@include transition(background-color .3s ease-out);
	outline:none;
	border:2px solid $brand-seven;
}
input:required:valid {
	background-image:url(#{$assetPath}/valid.svg);
	background-repeat:no-repeat;
	background-position:96% center;
	background-size:25px 25px;
	@include transition(background-image .3s ease-in-out);
}