/*
 * Mixin for easy media queries
 * @include bp(tablet) { SCSS here };
*/
@mixin bp($point) {
	@if $point == desktoplarger {
		@media (min-width : 1367px) { @content; }
	}
	@if $point == desktoplarge {
		@media (min-width : 1200px) { @content; }
	}
	@if $point == desktopmed {
		@media (min-width: 1300px) and (min-height: 600px) { @content; }
	}
	@if $point == desktop {
		@media (min-width : 1024px) { @content; }
	}
	@if $point == tablet {
		@media (min-width : 768px) { @content; }
	}
	@else if $point == phone {
		@media (min-width : 400px) { @content; }
	}
}

/*
 * Mixin for fonf size and line-height
 * @include font-size(16);
*/
$doc-font-size:16;
$doc-line-height:20;

@mixin font-size($size) {
      font-size: 0px + $size;
      font-size: 0rem + $size / $doc-font-size;
      line-height: ceil($size / $doc-line-height) * ($doc-line-height / $size);
      margin-bottom: 0px + $doc-line-height;
      margin-bottom: ($doc-line-height / $doc-font-size) +rem;
}

/*
* Mixin for SVG with PNG Fallback	
* Here we can pass parameters: name, extension, color, position, repeat
* with this example we will just repeat the graphic
* @include svg-bg('graphic-name', $repeat: repeat);
*/
  
@mixin svg-bg($name, $extension: png, $color: transparent, $position: 0 0, $repeat: no-repeat) {
	background: url(img/#{$name}.#{$extension}) $color $position $repeat;
	background: none, url(img/#{$name}.svg) $color $position $repeat;
}

/*
 * Mixin for removing list bullet styles
 * @include remove-default-list-style;
*/
@mixin remove-default-list-style {
	list-style-type:none;
	margin:0;
	padding:0;
}

/*
 * Mixin for button style
 * @include border-button;
*/
@mixin border-button {
	color:#fff;
	width:100px;
	padding:(5px) (8px);
	border-radius:(5px);
	border:2px solid #fff;
	margin:$gutter/2 auto 0 auto;
	text-decoration:none;
	&:hover {
		border-color:#fff;
	}
}

/*
 * Mixin for micro clearfix
 * @include microclearfix;
*/
@mixin microclearfix {
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
	*zoom: 1;
}

/*
 * Mixin for micro clearfix
 * @include inline-block;
*/
@mixin inline-block {
	width:100%;
	display:inline-block;
}

/*
 * Mixin for basic CSS triangles
 * @include triangle(up, #000, 50px)
*/
@mixin triangle($direction:up, $color:#000, $size:100px) {
	@if($direction == up) {
		border-color: transparent transparent $color;
		border-style: solid;
		border-width: 0 $size $size;
		height: 0;
		width: 0;
	}
	@if($direction == down) {
		border-color: $color transparent transparent transparent;
		border-style: solid;
		border-width: $size;
		height:0;
		width:0;
	}
	@if($direction == left) {
		border-color: transparent $color transparent transparent;
		border-style: solid;
		border-width: $size $size $size 0;
		height: 0;
		width: 0;
	}
	@if($direction == right) {
		border-color: transparent transparent transparent $color;
		border-style: solid;
		border-width: $size 0 $size $size;
		height:0;
		width:0;
	}
}

/*
 * @font-face mixin
 * Bulletproof font-face via Font Squirrel
 * @include fontface('family', 'assets/fonts/', 'myfontname');
 */

@mixin fontface($font-family, $font-url, $font-name) {
	@font-face {
		font: {
			family: $font-family;
			style: normal;
			weight: normal;
		}
		src: url($font-url + '/' + $font-name + '.eot');
		src: url($font-url + '/' + $font-name + '.eot#iefix') format('embedded-opentype'),
			 url($font-url + '/' + $font-name + '.woff') format('woff'),
			 url($font-url + '/' + $font-name + '.ttf')  format('truetype'),
			 url($font-url + '/' + $font-name + '.svg#' + $font-name) format('svg');
	}
}
