html,body{ 
	width:100%;
	height:100%;
}
body {
	position: relative;
	min-height: 100%;
	font-size:100%;
	-webkit-text-size-adjust: none;	
	font-family: "proxima-nova-alt",sans-serif;
}
::-moz-selection {
    background: $selectionColor;
    text-shadow: none;
}
::selection {
    background: $selectionColor;
    text-shadow: none;
}
img {
	max-width:100%;
}

.wrapper {
	width:90%;
	margin:0 auto;
	@include bp(desktoplarge) {
		width:$pageWidth;
	}
}

.wrapper-inner {
	width:96%;
	margin:0 auto;
	@include bp(desktop) {
		width:80%;
	}
}


.demo-block {
	padding:(5px) (5px);
	background:#f00;
}


/* Type */
h1 {
	@include font-size(24);
}
h2 {
	@include font-size(22);
}
h3 {
	@include font-size(20);
}
h4 {
	@include font-size(18);
}
h5 {
	@include font-size(16);
}
h6 {
	@include font-size(14);
}
a {
	text-decoration:none;
}
p {
	@include font-size(16);
}
ul {
	list-style-type:disc;
	margin-left:(13px);
	margin-bottom:$gutter / 2;
	li {
		@include font-size(16);
		margin-bottom:0;
	}
}
ol {
	list-style-type:decimal;
	margin-left:(13px);
	margin-bottom:$gutter / 2;
	li {
		@include font-size(16);
		margin-bottom:0;
	}
}

blockquote {
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin:$gutter 0;
  position: relative;
  text-align: justify;
  border-left: 15px solid #000;
  border-right: 2px solid #000;
  box-shadow: 2px 2px 15px #ccc;
}

blockquote::before{
	position: absolute;
	left: 10px;
	top:5px;
	content: "\201C"; /*Unicode for Left Double Quote*/
	font-size: 60px;
	font-weight: bold; 
}
blockquote::after{
  content: ""; /*Unicode for Right Double Quote*/
}

header {
	position:relative;
	display:inline-block;
	width:100%;
	min-height:466px;
	overflow:hidden;
	text-align:center;
	background:$brand-two;	
}
canvas{
	display:block;
	vertical-align:bottom;
}
#particles-js{
	
}
h1.logo a {
	float:left;
	text-align:left;
	@include font-size(26);
	line-height:(24px);
	font-weight:700;
	color:$brand-one;
	@include bp(tablet) {
		margin-top:(30px);
	}
}
.brown h1.logo a {
	color:$brand-two;
}

.navigation-common {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	@include inline-block;
	z-index:50;
}

.header-welcome {
	position:absolute;
	top:50%;
	left:0;
	width:100%;
	margin-top:-68px;
	display:inline-block;
	color:#fff;
	h2 {
		@include font-size(92);
		margin-bottom:(8px);
		line-height:(80px);
		font-weight:700;
	}
	p {
		@include font-size(20);
		margin-bottom:(15px);
		&.yellow {
			color:$brand-one;
		}
	}
	a {
		position:absolute;
		bottom:$gutter;
	}
}
.arrow {
	position:absolute;
	bottom:$gutter;
	left:50%;
	margin-left:-15px;
	@include bp(tablet) {
		bottom:$gutter;
	}
}

section {
	position:relative;
	min-height:466px;
	@include display(flex);
	@include flex-direction(column); 
	@include justify-content(center);
	background-color:#fff;
	padding:$gutter 0;
	overflow:hidden;
	@include bp(tablet) {
		min-height:466px;
		padding:0;
	}
	&.add-padding {
		padding:$gutter 0 0 0;
	}
	h1 {
		display:block;
		font-size:(35px);
		line-height:(41px);
		color:$brand-two;
		text-align:center;
		font-weight:700;
		@include bp(tablet) {
			font-size:(80px);
			line-height:(84px);	
		}
		span {
			color:$brand-one;
		}
	}
	h2 {
		display:block;
		font-size:(35px);
		color:$brand-two;
		text-align:center;
		font-weight:700;
		margin-bottom:0;
		@include bp(tablet) {
			font-size:(54px);
		}
		span {
			position:relative;
			top:(5px);
			color:$brand-one;
		}
	}
	p {
		width:90%;
		margin:0 auto;
		text-align:center;
		font-size:(14px);
		line-height:(20px);
		margin-bottom:(10px);
		@include bp(tablet) {
			width:68%;
			font-size:(22px);
			line-height:(28px);	
		}
	}
	a {
		color:#fff;
		text-decoration:underline;
	}
}
.challenge {
	@include svg-bg('mesh', $color:$brand-one, $position: center center, $repeat: no-repeat);
	background-size:1036px 352px;
	@include bp(desktop) {
		height:100vh;
	}
	h1, p {
		color:#fff;
	}
}
.skills {
	background:#594856;
	h2, p {
		color:#fff;
	}
	p {
		margin-bottom:$gutter*2;
	}
}
.selected-works {
	@include svg-bg('works', $color:$brand-three, $position: bottom center, $repeat: no-repeat);
	@include bp(tablet) {
		min-height:(628px);
	}
	h2 {
		color:#fff;
	}
}
.testimonial-intro {
	@include svg-bg('people', $color:$brand-four, $position: bottom center, $repeat: no-repeat);
	background-size:599px 321px;
	h1 {
		color:#fff;
	}
}



.quote-top-left {
	float:left;
	width:36px;
	margin-left:5%;
	display:none;
	@include bp(tablet) {
		display:block;
	}
}
.quote-top-right {
	position:relative;
	top:-50px;
	float:right;
	width:36px;
	margin-left:95%;
	display:none;
	@include bp(tablet) {
		display:block;
	}
}
q { 
	quotes: '\201c' '\201d';
	&:before { 
		position:absolute;
		top:(-10px);
		left:-6%;
		content: open-quote;
		color:#fff;
		font-size:(50px);
		@include bp(desktop) {
			top:10%;
			left:-2%;
		}
	} 
	&:after  {
		position:absolute;
		top:auto;
		right:-6%;
		bottom:-50%;
		content: close-quote;
		color:#fff;
		font-size:(50px); 
		@include bp(desktop) {
			right:-2%;
			bottom:-15%;
		} 
	}
}

footer {
	padding:(70px) 0;
	color:$brand-two;
	background:$brand-one;
	p {
		float:left;
		font-size:(14px);
		margin:(3px) (43px) 0 0;
		
	}
	ul.footer-links {
		display:inline-block;
		text-align:center;
		margin-left:0;
		li {
			display:inline;
			a {
				color:$brand-two;
				font-size:(14px);
				margin:0 0 $gutter/3 0;
				display:block;
				border-radius:(5px);
				padding:(3px) (8px);
				border:2px solid transparent;
				@include bp(tablet) {
					display:inline-block;
					margin:0 (29px) $gutter 0;
				}
				&:hover {
					border:2px solid $brand-two;
				}
			}
			&:last-child a {
				margin-right:0;
			}
		}
	}
}

.credits {
	width:100%;
	display:block;
	margin:(40px) auto;
	text-align:center;
	@include bp(desktop) {
		width:63.4765625%;	
	}
	p {
		float:none;
		margin-right:0;
		margin-bottom:$gutter/2;
		margin-top:3px;
		@include bp(tablet) {
			float:left;
			margin:(5px) (43px) 0 0;
		}
		@include bp(desktop) {
			margin-top:(3px);
		}
	}
}
