/* 
	font-family: "proxima-nova-alt",sans-serif;
*/

// Structure
$pageWidth: 1024px;

// Text Selection
$selectionColor: orange;

// Links
$linkColor: #fff;
$linkHoverColor: #fff;
$basecolor:#000;

$brand-one:#e0dc00; /* Yellow */
$brand-two:#3c2d39; /* Brown */
$brand-three:#2ba1af; /* Pale Blue */
$brand-four:#e7e857; /* Light yellow */
$brand-five:#218b93; /* Dark blue */
$brand-six:#3b2c38;
$brand-seven:#ff0000; /*  Red */



// Path to images
// Use #{$assetPath}/
$assetPath : "img";
