@use '../../styles/partials/variables' as vars; 

.columns {
    width: 100%;
    margin-bottom: vars.$margin;

    @include vars.media('tablet') {
        display: flex;
        align-items: flex-start;
        margin-bottom: calc(vars.$margin * 2);
    }
    
    &__left {
        width: 100%;
        
        @include vars.media('tablet') {
            width: 50%;
            min-height: 600px;
        }
    }

    &__image {
        max-width: 100%;
        height: auto;

        @include vars.media('tablet') {
            object-position: 50% 50%;
            height: 600px;
            object-fit: cover;
        }
    }

    &__right {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        min-height: 300px;
        padding: 40px;
        background:  var(--offBlack);
        z-index: 1;

        @include vars.media('tablet') {
            position: sticky;
            top: 106px;
            width: 50%;
            padding: 80px;
            margin-top: 0;
            transform: none;
        }
    }

    &__wrap {
        margin-left: auto;
        width: calc(100% - 20px);

        @include vars.media('large') {
            max-width: calc(vars.$wrapper-width / 2);
        }
    }

    &__wrapRight {
        margin-left: 0;
        margin-right: auto;
    }

    &__title {
        font-size: clamp(1rem, 10vw, 2rem);
        margin-bottom:vars.$margin;
    }

    &__text {
        font-size: clamp(.8rem, 10vw, 1.3rem);
        line-height: 130%;
        margin-bottom: vars.$margin;
    }

    &__list {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: calc(vars.$margin * 2) 0 0 0;
    }

    &__item {
        display: flex;
	    flex-direction: column;
	    justify-content: center;
    }

    &__link {
        position: relative;
        display: flex;
        align-items: center;
        margin-right: vars.$margin;
    }

    &__img {
        display: inline-block;
        margin-right: calc(vars.$margin / 2);
        transition: transform .4s;
    }

    &__txt {
        width: 100%;
        display: block;
        font-family: vars.$title-font;
        //transform: translateY(100%);
        transition: transform .4s;
    }

    &__link:hover &__img {
        // transform: translateY(-32px);
        // transition: transform .4s;
    }

    &__link:hover &__txt {
       // transform: translateY(-8px);
    }
}