.linktopage {
	width:auto;
	margin:0 auto;
	padding:(12px) 4%;
	color:#fff;
	background:$brand-one;
	border:1px solid #fff;
	font-size:(20px);
	font-weight:700;
	display:inline-block;
	&.linktopage-full-width {
		width:100%;
	}
	&.small-style {
		border:none;
		font-weight:400;
		padding:(5px) 3%;
		color:#fff;
		font-size:(16px);
		text-transform:uppercase;
		font-family: "open-sans-condensed",sans-serif;
		&:hover, &.active {
			background:$brand-five;
		}
	}
}

.left {
	float:left;
}
.right {
	float:right;
}