section.contact {
	background:#594856;
	padding-top:$gutter*2;
	h2, p {
		color:#fff;
	}
}
.triangle.dark.bottom {
	background:$brand-six;
	padding:$gutter $gutter;
	&:after {
		border-color:$brand-six transparent;
	}
	h1 {
		color:#fff;
		@include font-size(40);
		@include bp(tablet) {
			@include font-size(80);
		}
	}
}