section.current-role {
	min-height:inherit;
	background:#E5E35C url(#{$assetPath}/keyboard.svg) no-repeat center center;
	h2 {
		color:#fff;
		span {
			color:lighten( $brand-one, 15% );
		}
	}
}