section.employment {
	min-height:inherit;
	padding-bottom:1px;
	.employment-history {
		@include remove-default-list-style;
		display:block;
		text-align:center;
		&__item {
			position: relative;
			display:block;
			margin:$gutter/2 auto (81px) auto;
			&:after {
				content: '';
				position: absolute; 
				top:100%;
				right: auto; 
				left: 50%;
				height:(182px);
				border-left:2px solid $brand-one;
				@include bp(tablet) {
					top:105%;
				}
			}
			@include bp(tablet) {
				margin-bottom:(182px);
			}
		}
		&__date {
			position:relative;
			top:8px;
			width:(62px);
			padding:(2px) (8px);
			border-radius:(5px);
			border:2px solid $brand-one;
			background:#fff;
			text-decoration:none;
			z-index:20;
			&:before {
				@include bp(tablet) {
					content: '';
					position: absolute; 
					top: 50%;
					left:-27px;
					border-top:2px solid $brand-one;
					width:27px; 
					height: 20px;
				}
				@include bp(desktop) {
					left:-40px;
					width:40px; 
				}
			}
			&.employment-history__date--right {
				&:before {
					@include bp(tablet) {
						top: 50%;
						left:auto;
						right:-25px;
						width:25px; 
						height: 20px;
					}
					@include bp(desktop) {
						right:-40px;
						width:40px; 
					}
				}
			}
		}
		&__job {
			position:relative; z-index:10;
			padding:$gutter/2 $gutter/2;
			border-radius:(5px);
			background:$brand-two;
			border:10px solid $brand-one;
			@include bp(tablet) {
				position:absolute;
				top:0;
				width:39.0625%;  /* 400 / 1024  */
				@include transition(all 1.5s ease-in-out);
			}
			&:before {
				content:""; 
				display:block; 
				position:absolute; 
				z-index:-1; 
				top:-8px; 
				left:-8px; 
				right:-8px; 
				bottom:-8px; 
				border:8px solid #fff;
			}
		}
		&__job[data-position='left'] {
			@include bp(tablet) {
				left:-100%;
			}
		}
		&__job[data-position='right'] {
			@include bp(tablet) {
				right:-100%;
				left:auto;
				@include transition-delay(.2s);
			}
		}
		&__job[data-position='left'].viewed {
		  opacity: 1;
		  @include bp(tablet) {
			  left: 4.8%;
		  }
		}
		&__job[data-position='right'].viewed {
		  opacity: 1;
		  @include bp(tablet) {
			  right:4.3%;
		  }
		}
		&__title,
		h1 {
			color:$brand-one;
			font-size:(18px);
			line-height:(22px);
			font-weight:400;
			margin:0 0 $gutter/2 0;
		}
		&__description,
		p {
			color:#fff;
			width:100%;
			font-size:(14px);
			line-height:(18px);
		}
	}
	
}