section.get-in-touch {
	background:#028c8f url(#{$assetPath}/ocho.jpg) no-repeat center top;
	background-size:cover;
	@include bp(tablet) {
		min-height:600px;
	}
	h2, p {
		color:#fff;
		@include bp(tablet) {
			width:80%;
			display:block;
			margin:0 auto;
		}
	}
}