.cycle-slideshow-container {
	position:relative;
	width:100%;
	margin-top:$gutter;
	text-align:center;
}
.latest-project {
	position:relative;
	top:8px;
	@include bp(tablet) {
		top:auto;
	}
	&__project-title {
		@include transform(translateY(-100px));
		opacity: 0;
		margin:0;
		color:#fff;
		line-height:(33px);
		@include transition(all 0.5s ease-in-out);
		font-size:(25px);
		@include bp(tablet) {
			font-size:(54px);
		}
	}
	&__project-type {
		color:$brand-one;
		font-size:(26px);
		margin:(8px) 0 (5px) 0;
		width:100%;
	}
	&__project-link {
		@include border-button;
		@include transform(translateY(100px));
		opacity: 0;
		@include transition(all 0.2s linear);
	}
	&__slide {
		width:100%;
		text-align:center;
		&__container {
			position:relative;
			width:100%;
			margin:0 auto;
			@include bp(desktop) {
				width:670px;
			}
		}
		&__image {
			position:relative;
			top:3px
		}
	}
	&__mask {
		position: absolute;
		top: 0;
		left: 0;
		width:100%;
		height:100%;
		overflow: hidden;
		background:rgba(0,0,0,0.8);
		color:#fff;
		@include display(flex);
		@include flex-direction(column); 
		@include justify-content(center);
		opacity: 0;
		cursor:pointer;
		text-align:center;
		&:hover {
			opacity: 1;
			h2, p {
				opacity: 1;
				@include transform(translateY(0px));
			}
			a {
				opacity: 1;
				@include transform(translateY(0px));
				@include transition-delay(0.1s);
			}
		}
	}
	&__next {
		position:absolute;
		top:50%;
		margin-top:-15px;
		right:5%;
		cursor:pointer;
		z-index:900;	
		display:none;
		@include bp(tablet) {
			top:50%;
			margin-top:-15px;
			display:block;
		}
		svg {
			width:20px;
			height:20px;
			@include bp(tablet) {
				width:30px;
				height:30px;
			}
		}
	}
	&__prev {
		@extend .latest-project__next;
		left:5%;
		right:auto;
	}
}
