.latest-work {
	&__slide {
		width:100%;
		padding-top:0;
		text-align:center;
		&__image {
			position:relative;
			bottom:-3px;
		}
	}
	&__next {
		@extend .latest-project__next;
		display:block;
		padding:(10px) (10px);
		background:rgba(0,0,0,0.8);
		@include bp(tablet) {
			background:none;
		}
	}
	&__prev {
		@extend .latest-project__next;
		display:block;
		left:5%;
		right:auto;
		padding:(10px) (10px);
		background:rgba(0,0,0,0.8);
		@include bp(tablet) {
			background:none;
		}
	}
}

.latest-work--text {
	@include inline-block;
	background:$brand-two;
	&__slide {
		@extend .latest-project__slide;
		padding:$gutter 0;
		&__title {
			color:#fff;
			font-weight:700;
			margin:0;
			@include bp(tablet) {
				font-size:(54px);
				line-height:(60px);
			}
		}
		&__type {
			color:$brand-one;
			font-size:(36px);
			line-height:(40px);
			margin:0 0 $gutter/2 0;
		}
		&__button {
			@include border-button;
			margin:0 $gutter/3;
			&:hover {
				opacity:.5;
			}
		}
	}
	.latest-work__details {
		&__title,
		&__fonts,
		&__description {
			color:#fff;
			font-size:(20px);
		}
		&__description {
			margin-bottom:$gutter;
		}
	}
}