.menu {
	float:right;
	margin-top:(39px);
	display:none;
	visibility:hidden;
	@include bp(desktop) {
		display:block;
		visibility:visible;
	}
	&__item {
		display:inline;
		a {
			color:#fff;
			padding:(5px) (8px);
			border-radius:(5px);
			border:2px solid $brand-two;
			margin-left:(15px);
			text-transform:lowercase;
			&:hover {
				border-color:#fff;
			}
		}
	}
}
.yellow .menu {
	&__item a {
		border-color:$brand-one;
		&:hover {
			border-color:#fff;
		}
	}
}

.about .menu {
	&__item {
		a {
			border-color:$brand-one;
			&:hover {
				border-color:#fff;
			}
		}
	}
}
.work .menu {
	&__item {
		a {
			border-color:$brand-three;
			&:hover {
				border-color:#fff;
			}
		}
	}
}
.testimonail-page .menu {
	&__item {
		a {
			border-color:$brand-four;
			&:hover {
				border-color:#fff;
			}
		}
	}
}
.contact .menu {
	&__item {
		a {
			border-color:#594856;
			&:hover {
				border-color:#fff;
			}
		}
	}
}