.cd-nav-trigger {
	position:absolute;
	z-index: 3;
	top:20px;
	right: 4%;
	height: 44px;
	width: 44px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	@include transform(0.2s);
	&.is-visible {
		display:none;
	}
	@include bp(desktop) {
		display:none;
	}
}

.cd-nav-trigger span {
	position: absolute;
	left: 50%;
	top: 50%;
	bottom: auto;
	right: auto;
	@include transform(translateX(-50%) translateY(-50%));
	width: 32px;
	height: 3px;
	background-color: $brand-one;
}
.about .cd-nav-trigger span,
.work .cd-nav-trigger span,
.testimonail-page .cd-nav-trigger span  {
	background-color: $brand-two;
}
.cd-nav-trigger span::before, .cd-nav-trigger span:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: inherit;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	@include transform(translateZ(0));
	@include transform(0.2s width 0.2s);
}
.cd-nav-trigger span::before {
	@include transform-origin(right top);
	@include transform(translateY(-10px));
}
.cd-nav-trigger span::after {
  	@include transform-origin(right bottom);
	@include transform(translateY(10px));
}
.no-touch .cd-nav-trigger:hover {
	@include transform(rotate(180deg));
}
/*
.no-touch .cd-nav-trigger:hover span::after,
.no-touch .cd-nav-trigger:hover span::before { 
  width: 50%;
}
.no-touch .cd-nav-trigger:hover span::before {
  -webkit-transform: translateX(1px) translateY(1px) rotate(45deg);
  -moz-transform: translateX(1px) translateY(1px) rotate(45deg);
  -ms-transform: translateX(1px) translateY(1px) rotate(45deg);
  -o-transform: translateX(1px) translateY(1px) rotate(45deg);
  transform: translateX(1px) translateY(1px) rotate(45deg);
}
.no-touch .cd-nav-trigger:hover span::after {
  -webkit-transform: translateX(1px) translateY(-1px) rotate(-45deg);
  -moz-transform: translateX(1px) translateY(-1px) rotate(-45deg);
  -ms-transform: translateX(1px) translateY(-1px) rotate(-45deg);
  -o-transform: translateX(1px) translateY(-1px) rotate(-45deg);
  transform: translateX(1px) translateY(-1px) rotate(-45deg);
}
@media only screen and (min-width: 1024px) {
  .cd-nav-trigger {
    top: 38px;
  }
}
*/

/* Close Nav */
.cd-close-nav {
	position: absolute;
	height: 44px;
	width: 44px;
	right:2%;
	top:38px;
	bottom: auto;
	@include transform(translateY(-50%));
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	@include transform(opacity 0.2s);
	z-index:99999;
}
.cd-close-nav::after, .cd-close-nav::before {
  content: '';
  position: absolute;
  height: 3px;
  width: 32px;
  left: 50%;
  top: 50%;
  background-color: #5c4b51;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-close-nav::after {
	@include transform(translateX(-50%) translateY(-50%) rotate(45deg));
}
.cd-close-nav::before {
	@include transform(translateX(-50%) translateY(-50%) rotate(-45deg));
}
.no-touch .cd-close-nav:hover {
  opacity: .8;
}
@media only screen and (min-width: 700px) {
  .cd-close-nav {
    right: 7.14%;
  }
}

.cd-nav-container {
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
  overflow-y: auto;
  background-color: #ffffff;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.4s 0s, box-shadow 0s 0.4s;
  -moz-transition: -moz-transform 0.4s 0s, box-shadow 0s 0.4s;
  transition: transform 0.4s 0s, box-shadow 0s 0.4s;
}
.cd-nav-container.is-visible {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-overflow-scrolling: touch;
  box-shadow: -4px 0 30px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 0.4s 0s, box-shadow 0s 0s;
  -moz-transition: -moz-transform 0.4s 0s, box-shadow 0s 0s;
  transition: transform 0.4s 0s, box-shadow 0s 0s;
}
main {
  @include transition(transform 0.4s);
}
main.scale-down {
	@include transform(scale(0.9));
}
.cd-section {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	/*overflow-y: auto;*/
	@include transform(translateX(100%));
	@include transition(transform 0s 0.4s);

}
.cd-section.cd-selected {
	position: relative;
	z-index: 2;
	@include transform(translateX(0));
	@include transition(transform 0.4s 0s);
}
.cd-nav {
  
  @include  remove-default-list-style;
  margin-top:(80px);
}
.cd-nav::after {
  clear: both;
  content: "";
  display: table;
}
.cd-nav li {
  width: 50%;
  float: left;
  /* 68px is the navigation header height  and the menu items will be allocated in 3 rows */
  height: calc((100vh - 68px)/3);
  min-height: 120px;
  border: 1px solid #ffffff;
  border-top: none;
  border-left: none;
}
.cd-nav li:nth-of-type(2n) {
  border-right-width: 0;
}
.cd-nav a {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	color:$brand-two;
	text-align: center;
	@include display(flex);
	@include flex-direction(column); 
	@include justify-content(center);
	@include transition(background-color 0.2s);
	background-color: #f2f2f2;
	&:hover,
	&:target {
		background-color:$brand-one;
	}
}
.no-touch .cd-nav li:first-of-type a:hover,
.cd-nav li:first-of-type a,
.cd-nav li.cd-selected:first-of-type a {
	vertical-align: middle;
	@include display(inline-flex); 
	@include box-pack(center);
	@include justify-content(center);
	@include align-items(center);
	@include box-orient(vertical);
}

@media only screen and (min-width: 700px) {
  .cd-nav li {
    /* 116px is the navigation header height and the menu items will be allocated in 3 rows */
    height: calc((100vh - 116px)/3);
    min-height: 200px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-nav li {
    width: 33.33%;
    float: left;
    /* 116px is the navigation header height  and the menu items will be allocated in 2 rows */
    height: calc((100vh / 2));
    min-height: 250px;
  }
  .cd-nav li:nth-of-type(2n) {
    border-right-width: 1px;
  }
  .cd-nav li:nth-of-type(3n) {
    border-right-width: 0;
  }
}

@-webkit-keyframes cd-shock {
  0% {
    -webkit-transform: rotate(0);
  }
  30% {
    -webkit-transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0);
  }
}
@-moz-keyframes cd-shock {
  0% {
    -moz-transform: rotate(0);
  }
  30% {
    -moz-transform: rotate(10deg);
  }
  60% {
    -moz-transform: rotate(-10deg);
  }
  100% {
    -moz-transform: rotate(0);
  }
}
@keyframes cd-shock {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  30% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
}