section.responsive {
	min-height:inherit;
	background:#594856 url(#{$assetPath}/devices.svg) no-repeat center center;
	@include bp(tablet) {
		min-height:(228px);
	}
	h2, p {
		color:#fff;
	}
}