.social {
	display:block;
	margin:0 auto;
	text-align:center;
	&__item {
		display:inline;
		&__link {
			width:44px;
			height:44px;
			margin:0 2%;
			display:inline-block;
			&:hover {
				opacity:0.5;
			}
		}
		&.social__item--twitter .social__item__link {
			@include svg-bg('twitter-icon', $repeat: repeat);
			
		}
		&.social__item--linkedin .social__item__link {
			@include svg-bg('linkedin-icon', $repeat: repeat);
		}
		&.social__item--flickr .social__item__link {
			@include svg-bg('flickr-icon', $repeat: repeat);
		}
	}
}