.testimonials {
	background:$brand-two;
	h1 {
		color:#fff;
		font-size:(16px);
		line-height:(22px);
		font-weight:700;
		margin:0;
		@include bp(tablet) {
			font-size:(32px);
			line-height:(38px);
		}
	}
	p {
		color:$brand-one;
		font-size:(16px);
		line-height:(22px);
		font-weight:700;
		@include bp(tablet) {
			font-size:(22px);
			line-height:(28px);
		}
	}
}
.testimonial {
	text-align:center;
	&__slide {
		width:100%;
		height:auto;
		margin:0 auto;
	}
	&__next {
		@extend .latest-project__next;
	}
	&__prev {
		@extend .latest-project__next;
		left:5%;
		right:auto;
	}
}
section .triangle {
	position:relative;
	padding:$gutter $gutter;
	margin:$gutter*2 auto 4em auto;
	color:#fff;
	width:90%;
	background:$brand-five;
	border-radius:10px;
	@include bp(tablet) {
		width:60%;
		padding:$gutter*2 $gutter;
	}
	&.full-width {
		width:100%;
	}
	p {
		color:#fff;
		width:100%;
		font-size:(16px);
		line-height:(22px);
		margin:0;
		font-weight:400;
		@include bp(tablet) {
			font-size:(20px);
			line-height:(26px);
		}
	}
	.quote-top-left {
		position:absolute;
		top:-22px;
		left:-40px;
		width:60px;
		z-index:999999;
	}
	.quote-top-right {
		position:absolute;
		top:auto;
		bottom:-15px;
		right:-20px;
		width:60px;
	}
}
.triangle:after {
	content:"";
	position:absolute;
	top:-60px; 
	left:80px;
	border-width:60px 60px 0 0;
	border-style:solid;
	border-color:$brand-five transparent;
	display:block;
	width:0;
}
.triangle.top:after {
	border-width:60px 60px 0 0;
	border-color:transparent $brand-five;
}
.triangle.bottom:after {
	top:auto;
	bottom:-40px;
}
.triangle.top {
	background:$brand-five;
}


