.introduction {
	position:absolute;
	bottom:$gutter/2;
	@include bp(tablet) {
		width:100%;
		bottom:$gutter;
	}
	@include bp(desktop) {
		width:$pageWidth;
	}
	p {
		position:relative;
		font-size:(16px);
		line-height:(22px);
		@include bp(desktop) {
			font-size:(18px);
			line-height:(24px);
		}
	}
}